{
    "extends": [
      "eslint:recommended"
    ],
    "env": {
      "node": true,
      "mocha": true
    },
    "rules": {
      "no-global-assign": ["error", {"exceptions": ["JSON"]}],
      "no-unused-vars": ["error"]
    }
  }